<h2>Try a new meme!</h2>
<div id="buttons" class="group buttons memes">
<% @alt_memes.each do |alt_meme| %>
  <%= render :partial => 'meme_button', locals: {meme: alt_meme} %>
<% end %>
</div>
<hr>

<% if @cur_meme.present? %>
  <div id="buttons" class="group buttons memes">
    <%= render :partial => 'meme_button', locals: {meme: @cur_meme, text: "Stick with #{@cur_meme.tag} a while longer"} %>
  </div>
<% end %>

<%= render :partial => 'reset_user_all_button' %>


<p>
