<h2>Meme: <%= @cur_meme.tag %></h2>
<h2>Which one is funniest?</h2>
<div id="buttons" class="group buttons punchlines">
<% @punches.each do |punch| %>
  <% losing_punches = @punches.to_set %>
  <% losing_punches.delete(punch) %>
  <%= render :partial => 'punchline_button', locals: {meme: @cur_meme, punch: punch, losing_punches: losing_punches} %>
<% end %>
</div>

<%= render :partial => 'reset_user_button', locals: {meme: @cur_meme} %>
