// Place all the styles related to the paths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the SequentialAttempts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$break-small: 320px;
$break-large: 1024px;


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
}
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

body {
	//min-width: 320px; // hack for mobile safari
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
//    font-family: "Lato";
  font-size: 13px;
	line-height: 125%;
    text-align: center;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 5px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


#navigation {
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-top: 5px;
	    padding-bottom: 5px;

}

.navbar-text {
line-height: 100%;
}

// can't get this to work!
a .navbar-lin {
	     color: #8888cc;
	     font-size: 300%;
}

#auth_section {
  display: block;
    position:relative;
text-align: left;	      
}

.buttons {
	margin-top: 2em;
}

.punch {
    background-color: #ffeecc;
    border: 1px solid #073;
	width: 300px;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	
	
}
h1 {
	color: #00007a;
	 line-height: 110%;
  margin-bottom: 1.0em;
}

h2 {
	 font-size: 180%;
	 line-height: 110%;
 	color: #1947A3;
  margin-bottom: 15px;
}

h3 {
	 font-size: 140%;
 	color: #1A1A80;
	display: block;
	 line-height: 110%;
  margin-top: 3px;
  margin-bottom: 10px;
}

p {
	color: #005c1f;
	  	  margin-bottom: 0.5em;
}
p .long {
	text-align: left;
}

.important {
	color: #cc2900;
	font-weight: 700;
}

.flow_button {
// necessary to override obnoxious styling on iphone
-webkit-appearance: none;
border: 0;
//    border: 2px solid #073;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
cursor: pointer;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;

    font-size: 100%;

white-space: normal;
}

.login_button[type=submit] {
		  @extend .flow_button;
    background-color: #444488;
	     width: 80%;
	     font-size: 120%;
}

.facebook_login_button[type=submit] {
		  @extend .login_button;
    background-color: #444488;
    color: #88e;
}

.twitter_login_button[type=submit] {
		  @extend .login_button;
    background-color: #bce;
    color: #448;
}


.reset_button[type=submit] {
		  @extend .flow_button;
    background-color: #ffdd66;
	     width: 150px;
	     font-size: 60%;
margin: 3px;
margin-top: 40px;
padding: 3px;
}

.punchline_button input[type=submit] {
		  @extend .flow_button;
	width: 90%;
    background-color: #ffdd66;

    &:hover {
    	   background-color: #66ddff;
	   }
}


.meme_button input[type=submit] {
		  @extend .flow_button;
	width: 80%;
    background-color: #ddff66;

    &:hover {
    	   background-color: #66ffdd;
	   }
}


#main {
	width: 320px;
  	padding: 10px 10px;
		
  display: block;
    position:relative;
  background-color: #fff;
  //margin: 0 auto;
//  margin-top: 0px;
//  margin-bottom: 0px;
//  margin-left: auto;
//  margin-right: auto;
//    border: 3px solid #bbb;
}

#central_container {
	
	width: 320px;
//  	padding: 10px 10px;
	  height: auto;
  display: block;
    position:relative;
  background-color: #fff;
  margin: 0 auto;
//  margin-top: 40px;
//  margin-bottom: 40px;
//  margin-left: auto;
//  margin-right: auto;
}


@include respond-to(medium-screens) { 
  body {
    zoom: 1.5;
    -moz-transform: scale(1.5);
    -moz-transform-origin: 50% 0;
  }
}
@include respond-to(wide-screens) { 
  body {
    zoom: 2.0;
    -moz-transform: scale(2.0);
    -moz-transform-origin: 50% 0;
	}
}

