// Place all the styles related to the paths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the SequentialAttempts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$break-small: 320px;
$break-large: 1024px;


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
}
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

html {
    background: #ccc;
}
body {
	//min-width: 320px; // hack for mobile safari
    font-family: "Lato";
	line-height: 125%;
    text-align: center;
  background: #ccc;
	color: #005c1f;
}

#navigation {
	    padding: 10px;
}

.navbar-text {

}

// can't get this to work!
a .navbar-lin {
	     color: #8888cc;
	     font-size: 300%;
}

#auth_section {
  display: block;
    position:relative;
text-align: left;	      
}

.buttons {
	margin-top: 2em;
}

h1 {
	color: #00007a;
	 line-height: 110%;
  margin-bottom: 1.0em;
}

h2 {
	 font-size: 180%;
	 line-height: 110%;
 	color: #1947A3;
  margin-top: 40px;
  margin-bottom: 40px;
}

h3 {
margin: 150px;
	 font-size: 140%;
 	color: #1A1A80;
	display: block;
	 line-height: 110%;
}

p {
	color: #005c1f;
	  	  margin-bottom: 0.5em;
}
p .long {
	text-align: left;
}

.important {
	color: #cc2900;
	font-weight: 700;
}

.flow_button {
border: 0;
//    border: 2px solid #073;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
cursor: pointer;

	width: 80%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;

    font-size: 60%;

white-space: normal;
}

.reset_button[type=submit] {
	     width: 150px;
	     font-size: 20%;
}

.punchline_button input[type=submit] {
		  @extend .flow_button;
    background-color: #ffdd66;

    &:hover {
    	   background-color: #66ddff;
	   }
}


.meme_button input[type=submit] {
		  @extend .flow_button;
    background-color: #ddff66;

    &:hover {
    	   background-color: #66ffdd;
	   }
}


#main {
	width: 320px;
  	padding: 10px 10px;
		
  display: block;
    position:relative;
  background-color: #fff;
  //margin: 0 auto;
//  margin-top: 0px;
//  margin-bottom: 0px;
//  margin-left: auto;
//  margin-right: auto;
//    border: 3px solid #bbb;
}

#central_container {
	
	width: 320px;
//  	padding: 10px 10px;
	  height: auto;
  display: block;
    position:relative;
  background-color: #fff;
  margin: 0 auto;
//  margin-top: 40px;
//  margin-bottom: 40px;
//  margin-left: auto;
//  margin-right: auto;
}


@include respond-to(medium-screens) { 
  body {
    zoom: 1.5;
    -moz-transform: scale(1.5);
    -moz-transform-origin: 50% 0;
  }
}
@include respond-to(wide-screens) { 
  body {
    zoom: 2.0;
    -moz-transform: scale(2.0);
    -moz-transform-origin: 50% 0;
	}
}

