<% if notice.present? or alert.present? or flash.present? %>
<div id="navigation">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div id="flash_messages">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
</div>
</div>
<% end %>
